{{ 's-loader.css' | asset_url | stylesheet_tag }}

<div class="lo">
  <h1>
    <span class="y_">
      <span class="y">THIS IS</span>
    </span>
    <span class="y_">
      <span class="y">RUGA</span>
    </span>
  </h1>
</div>

