{{ 's-loader.css' | asset_url | stylesheet_tag }}

<div class="lo">
  <div>
    <span class="y_">
      <span class="y">
        <svg width="642" height="124" viewBox="0 0 642 124" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M584.538 123.36C567.546 123.36 552.933 121.321 533.732 116.393V80.7106C546.816 86.6577 568.056 90.9057 584.198 90.9057C594.393 90.9057 598.131 89.0366 598.131 83.9391C598.131 79.3513 593.713 76.9725 578.251 73.744C547.156 68.8164 531.523 60.6604 531.523 36.0224C531.523 11.0446 549.535 0 583.858 0C598.641 0 610.365 1.69917 633.474 6.45685V40.6102C619.371 35.6826 601.359 32.4542 587.936 32.4542C578.76 32.4542 574.682 34.6631 574.682 39.2509C574.682 44.5183 581.309 46.5573 596.092 49.276C629.396 54.8832 641.12 67.2872 641.12 86.148C641.12 111.975 621.919 123.36 584.538 123.36Z" fill="#070707"/>
          <path d="M476.73 120.981V2.03906H519.21V120.981H476.73Z" fill="#070707"/>
          <path d="M368.756 123.36C351.765 123.36 337.152 121.321 317.951 116.393V80.7106C331.035 86.6577 352.274 90.9057 368.417 90.9057C378.612 90.9057 382.35 89.0366 382.35 83.9391C382.35 79.3513 377.932 76.9725 362.469 73.744C331.375 68.8164 315.742 60.6604 315.742 36.0224C315.742 11.0446 333.753 0 368.077 0C382.859 0 394.584 1.69917 417.692 6.45685V40.6102C403.589 35.6826 385.578 32.4542 372.155 32.4542C362.979 32.4542 358.901 34.6631 358.901 39.2509C358.901 44.5183 365.528 46.5573 380.311 49.276C413.614 54.8832 425.339 67.2872 425.339 86.148C425.339 111.975 406.138 123.36 368.756 123.36Z" fill="#070707"/>
          <path d="M260.949 120.981V2.03906H303.429V120.981H260.949Z" fill="#070707"/>
          <path d="M203.283 120.981V81.3904H165.901V120.981H123.422V2.03906H165.901V44.5184H203.283V2.03906H245.592V120.981H203.283Z" fill="#070707"/>
          <path d="M36.3623 120.981V39.081H0V2.03906H115.034V39.081H78.6716V120.981H36.3623Z" fill="#070707"/>
        </svg>
      </span>
    </span>
    <span class="y_">
      <span class="y">
        <svg width="520" height="124" viewBox="0 0 520 124" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M387.441 121.321L427.202 2.37891H479.876L519.297 121.321H477.328L473.08 105.519H433.829L429.751 121.321H387.441ZM441.135 76.4628H465.773L453.369 32.1144L441.135 76.4628Z" fill="#070707"/>
          <path d="M304.903 123.7C275.677 123.7 258.516 101.95 258.516 65.2482C258.516 23.1087 284.003 0 330.391 0C346.533 0 362.165 1.8691 379.667 6.28693V42.6492C361.825 38.7411 346.533 37.0419 332.43 37.0419C311.36 37.0419 302.524 45.8776 302.524 62.6994C302.524 79.5212 309.151 86.6577 321.215 86.6577C333.619 86.6577 341.775 77.6521 342.625 60.3206H382.555V121.321L350.101 121.491L346.873 77.8221H346.533C345.683 108.237 331.92 123.7 304.903 123.7Z" fill="#070707"/>
          <path d="M187.071 123.7C148.329 123.7 125.051 102.29 125.051 66.7775V2.37891H167.53V66.4377C167.53 79.3514 174.667 86.6578 187.071 86.6578C199.474 86.6578 206.611 79.3514 206.611 66.4377V2.37891H248.92V66.7775C248.92 102.29 225.812 123.7 187.071 123.7Z" fill="#070707"/>
          <path d="M0 121.321V2.37891H65.2482C100.081 2.37891 114.524 15.1227 114.524 36.7022C114.524 57.9418 98.2121 68.3068 78.6716 69.836V70.1758C98.0422 71.875 107.558 77.992 111.636 90.396L122.17 121.321H76.6326L69.666 97.3626C66.6075 86.8277 61.0003 81.7302 49.7857 81.7302H42.4793V121.321H0ZM55.9027 59.1312C66.9474 59.1312 72.3847 55.2231 72.3847 46.5574C72.3847 37.8916 67.2872 34.1534 56.2426 34.1534H42.4793V59.1312H55.9027Z" fill="#070707"/>
        </svg>
      </span>
    </span>
</div>
</div>
