{{ 's-p-contact.css' | asset_url | stylesheet_tag }}

<div class="p">
  <h1>
    CONTACT
    <span>RUGA</span>
  </h1>
  <ul>
    <li>
      <h3>EMAIL</h3>
      <a href="mailto:info@rugaoffcial.com">INFO@RUGAOFFCIAL.COM</a>
    </li>
    <li>
      <h3>PHONE</h3>
      <a href="tel:+201280704222">+20 128 0704 222</a>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "contact",
  "settings": []
}
{% endschema %}
