{{ 's-p-contact.css' | asset_url | stylesheet_tag }}

<div class='p'>
  <h1>CONTACT
    <span>RUGA</span>
  </h1>
  <ul>
    <li>
      <h3>EMAIL</h3>
      <a>INFO@RUGAOFFCIAL.COM</a>
    </li>
    <li>
      <h3>PHONE</h3>
      <a>INFO@RUGAOFFCIAL.COM</a>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "contact",
  "settings": []
}
{% endschema %}
