{{ 's-p-shop.css' | asset_url | stylesheet_tag }}
{{ 's-product-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection1 = collections.coolers
  assign collection2 = collections.accessories
%}

<div class="p">
  <section class="s-he">
    <h1>
      THIS IS
      <span> RUGA </span>
    </h1>
    <figure>
      <img src="{{ 'im-sh1.png' | asset_url  }}" width="auto" height="auto" alt="logo">
    </figure>
  </section>

  <section class="s-col">
    <h2>RUG<span>A COOLER</span></h2>
    <ul>
      {% for product in collection1.products %}
        <li>
          {% render 'product-card', product: product %}
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="s-ban">
    <figure>
      <img src="{{ 'im-sh0.png' | asset_url  }}" width="auto" height="auto" alt="logo">
    </figure>
  </section>

  <section class="s-col">
    <h2>RUG<span>A ACCESSORIES</span></h2>
    <ul>
      {% for product in collection2.products %}
        <li>
          {% render 'product-card', product: product %}
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

{% schema %}
{
  "name": "shop",
  "settings": []
}
{% endschema %}
