:root {
  --h-h: 58rem;
  --p-i: 20rem;
  --c-y: #f1e570;
  @media (width > 770px) {
    --h-h: 72rem;
    --p-i: 50rem;
  }
}
#_ {
  opacity: 0;
  visibility: hidden;
}
.y_,
.y {
  display: block;
}
.y_ {
  overflow: hidden;
}
.pi {
  opacity: 0;
  visibility: hidden;
}
.h-s {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.d-n {
  display: none !important;
}

.s-s {
  height: 100vh;
  overflow: hidden;
}
.m-o {
  @media (width >= 770px) {
    display: none !important;
  }
}
.d-o {
  @media (width < 770px) {
    display: none !important;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
