.accordion {
  /* padding-block: 10px; */
  padding-block: 20px;
  border-top: 1px solid black;
}
.accordion_h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion_h span {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.accordion_h span svg {
  width: 24px;
  @media (width < 770px) {
    font-size: 20px;
  }
}
.accordion_h h2 {
  font-size: 18px;
  font-family: "m";
  font-weight: 150;
  @media (width < 770px) {
    font-size: 16px;
  }
}
.accordion_h > svg {
  /* width: 10px; */
  width: 16px;
  transition: transform 0.2s ease-in;
}
.accordion.active .accordion_h > svg {
  transform: rotate(45deg);
}
.accordion_b_ {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.accordion_b {
  /* padding-top: 16px; */
  padding-top: 24px;
  font-size: 16px;
  line-height: 18px;
}
