.s-comp {
  margin-top: 120rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: 80rem;
  }
}
.s-comp h2 {
  font-size: 40rem;
  font-family: "m";
  font-weight: 150;
  color: var(--c-y);
  @media (width < 770px) {
    font-size: 26rem;
  }
}
.s-comp .p-s_ {
  margin-top: 24rem;
  @media (width < 770px) {
    margin-top: 16rem;
    margin-inline: calc(-1 * var(--p-i));
  }
}

.s-comp ul {
  @media (width < 770px) {
    padding-inline: var(--p-i);
  }
}
