#f {
  padding-top: 80rem;
  background-color: #00628f;
  color: white;
  border-radius: 45rem 45rem 0 0;
  @media (width < 770px) {
    border-radius: 35rem 35rem 0 0;
  }
}
#f > img {
  mix-blend-mode: difference;
}
.f_t {
  margin-top: 80rem;
  padding-inline: 30rem;
  display: flex;
  gap: 24rem;
  @media (width < 770px) {
    flex-direction: column;
    gap: 40rem;
    padding-block: 32rem;
  }
}
.f_t .l {
  flex: 100%;
  figure {
    width: 120rem;
    @media (width < 770px) {
      width: 80rem;
    }
  }
}

.f_t .r {
  flex: 100%;
  display: flex;
  gap: 24rem;

  @media (width < 770px) {
    padding-left: 0;
    align-items: center;
  }

  a {
    font-size: 16rem;
    display: flex;
    gap: 8rem;
    @media (width < 770px) {
      font-size: 14rem;
      gap: 4rem;
    }
  }
  svg {
    width: 20rem;
    @media (width < 770px) {
      width: 16rem;
    }
  }
}
.f_t ul {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.f_b {
  padding-block: 16rem;
  display: flex;
  justify-content: center;
  font-size: 14px;
  @media (width < 770px) {
    font-size: 12px;
  }
}
