#f {
  padding-top: 80rem;
  padding-inline: 20rem;
  background-color: #00628f;
  color: white;
  border-radius: 45rem 45rem 0 0;
  @media (width < 770px) {
    border-radius: 30rem 30rem 0 0;
    padding-top: 40rem;
  }
}

.f_t {
  margin-top: 80rem;
  padding-inline: 30rem;
  display: flex;
  gap: 24rem;
  @media (width < 770px) {
    margin-top: 0;
    padding-inline: 0;
    flex-direction: column;
    gap: 40rem;
  }
}
.f_t .l {
  flex: 100%;
  figure {
    width: 120rem;
    @media (width < 770px) {
      width: 80rem;
    }
  }
}

.f_t .r {
  flex: 100%;
  display: flex;
  gap: 24rem;
  @media (width < 770px) {
    padding-left: 0;
    flex-direction: column;
  }

  a {
    font-size: 16rem;
    display: flex;
    gap: 8rem;
    @media (width < 770px) {
      font-size: 14rem;
      gap: 4rem;
    }
  }
  svg {
    width: 20rem;
    @media (width < 770px) {
      width: 16rem;
    }
  }
}
.f_t ul {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  @media (width < 770px) {
    padding-bottom: 24rem;
    border-bottom: 1px solid #bbb;
  }
}
.f_socials {
  align-items: flex-end;
  @media (width < 770px) {
    align-items: unset;
  }
}

.f_b {
  padding-inline: 30rem;
  padding-block: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media (width < 770px) {
    padding-inline: 0;
    padding-block: 40rem 24rem;
    flex-direction: column;
    align-items: center;
    gap: 40rem;
  }
}
.f_b > div {
  width: 430rem;
  @media (width < 770px) {
    width: 100%;
  }
}
.f_b p {
  font-size: 15rem;
  @media (width < 770px) {
    font-size: 12rem;
  }
}
