#_ {
  opacity: 1 !important;
  visibility: visible !important;
}
.h-ph {
  height: var(--h-h);
}
#h {
  background-color: white;
}
.p {
  padding-bottom: 80rem;
}

.s-he {
  padding-inline: var(--p-i);
}

.s-he .ban {
  border-radius: 40rem;
  aspect-ratio: 5 / 2;
  background-color: #ededed;
  overflow: hidden;
  @media (width < 770px) {
    aspect-ratio: 3/4;
  }
}

.s-he p {
  margin-top: 64rem;
  font-size: 20rem;
  line-height: 32rem;
  @media (width < 770px) {
    font-size: 14rem;
    line-height: 16rem;
  }
}

.s-amb {
  /* margin-top: 120rem; */
  padding-inline: var(--p-i);

  @media (width < 770px) {
    margin-top: 60rem;
  }
}
.s-amb ul {
  display: flex;
  flex-direction: column;
}
.s-amb li {
  padding-top: 120rem;
  display: flex;
  justify-content: space-between;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  @media (width < 770px) {
    padding-top: 80rem;
    gap: 64rem;
    flex-direction: column-reverse !important;
    gap: 24rem;
  }
}
.s-amb li figure {
  width: 545rem;
  /* aspect-ratio: 1; */
  max-width: 100%;
  overflow: hidden;
  position: relative;

  @media (width < 770px) {
    width: unset;
  }
}
.s-amb li img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32rem;
  overflow: hidden;
  @media (width < 770px) {
    position: unset;
    height: 300rem;
  }
}
.s-amb li div {
  width: 660rem;
  display: flex;
  flex-direction: column;
  gap: 80rem;

  @media (width < 770px) {
    width: unset;
  }
}
.s-amb li h3 {
  font-family: "m";
  font-size: 40rem;
  font-weight: 150;
  text-transform: uppercase;
  @media (width < 770px) {
    font-size: 30rem;
    margin-bottom: 32rem;
  }
}
.s-amb li p {
  margin-top: auto;
  font-size: 20rem;
  line-height: 140%;
  text-align: justify;
  @media (width < 770px) {
    font-size: 14rem;
    line-height: 16rem;
  }
}
