.p {
  padding-bottom: 80rem;
}

.s-he ban {
  border-radius: 40rem;
  aspect-ratio: 5 / 2;
  background-color: #ededed;
  overflow: hidden;
}

.s-he p {
  margin-top: 64rem;
  font-size: 24rem;
  line-height: 32rem;
  @media (width < 770px) {
    font-size: 14rem;
    line-height: 16rem;
  }
}

.s-amb {
  margin-top: 120rem;
}
