#p {
  /* padding-top: 24px; */
  padding-bottom: 120rem;
  @media (width < 770px) {
    padding-top: var(--h-h);
    padding-bottom: 40rem;
  }
}

.s-hero {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-block: var(--h-h) 24rem;
  position: relative;
  @media (width < 770px) {
    padding-block: 16rem 0;
    padding-inline: var(--p-i);
    height: unset;
  }
}

.s-hero figure {
  width: 1340rem;
  border-radius: 40rem;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;
  @media (width<770px) {
    aspect-ratio: 3/4;
    border-radius: 30rem;
  }
}
.s-hero video {
  height: 100%;
}

.s-hero h1 {
  width: 793rem;
  position: absolute;
  bottom: 0;
  left: 48rem;
  color: var(--c-y);
  font-size: 160rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  & .y_:last-child {
    margin-left: 290rem;
    margin-top: -30rem;
    @media (width < 770px) {
      margin-left: 105rem;
      margin-top: -10rem;
    }
  }
  @media (width < 770px) {
    width: 294rem;
    left: 24rem;
    bottom: 8rem;
    font-size: 60rem;
  }
}

.s-colc {
  margin-top: 120rem;
  @media (width < 770px) {
    margin-top: 64rem;
  }
}

.s-colc h2 {
  text-align: center;
  font-size: 100rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -5%;
  & > span:last-child {
    margin-top: -10rem;
    @media (width < 770px) {
      margin-top: -6rem;
    }
  }
  @media (width < 770px) {
    font-size: 35rem;
  }
}

.s-colc ul {
  margin-top: -40rem;
  display: flex;
  padding-inline: var(--p-i);
  gap: 40rem;
  @media (width < 770px) {
    margin-top: 0;
    display: none;
    gap: var(--p-i);
  }
}

.s-colc li {
  overflow: hidden;
  @media (width < 770px) {
    flex-shrink: 0;
    width: 80%;
  }
}

.s-colc li a {
  display: block;
  @media (width < 770px) {
    padding: 24rem 32rem;
    border-radius: 32rem;
  }
}

.s-colc li figure {
  aspect-ratio: 1;
}

.s-colc li h3 {
  text-align: center;
  font-size: 24rem;
  font-family: "m";
  font-weight: 200;
  letter-spacing: 1%;
  span {
    font-weight: 300;
    letter-spacing: 5%;
    span {
      font-weight: 200;
    }
  }
}
.s-colc .cp_info h4 {
  text-align: center;
  font-size: 20rem;
  font-weight: 500;
  @media (width < 770px) {
    font-size: 16rem;
  }
}

.swiper_ {
  @media (width < 770px) {
    padding-inline: var(--p-i) !important;
    height: fit-content;
  }
}
.swiper a {
  padding-inline: 30rem;
  display: block;
  position: relative;
}
.swiper a h3 {
  font-family: "m";
  font-size: 20rem;
  text-align: center;
  font-weight: 150;
  text-transform: uppercase;
}

.swiper figure {
  aspect-ratio: 3/2;
  & img {
    height: 100%;
  }
}

.swiper nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.swiper svg {
  width: 24rem;
}
.swiper button:first-child svg {
  transform: scaleX(-1);
}

.s-life {
  /* margin-top: 120rem; */
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: 100rem;
  }
}
.s-life ul {
  display: flex;
  gap: 24rem;
  @media (width < 770px) {
    gap: 16rem;
    flex-wrap: wrap;
  }
}
.s-life li {
  flex-basis: 100%;
  position: relative;
  @media (width < 770px) {
    flex-shrink: 0;
    flex-basis: calc((100% - 16rem) / 2);
  }
}
.s-life li a {
  display: block;
  position: relative;
}
.s-life li {
  & a > img {
    position: absolute;
    z-index: 1;
  }
  &:nth-child(1) a > img {
    width: 120rem;
    left: 48rem;
    bottom: -32rem;
    @media (width < 770px) {
      width: 50rem;
      left: 8rem;
      bottom: unset;
      top: -16rem;
    }
  }
  &:nth-child(2) a > img {
    width: 120rem;
    right: -24rem;
    top: -48rem;
    @media (width < 770px) {
      top: -24rem;
      right: 4rem;
      width: 50rem;
    }
  }
  &:nth-child(3) a > img {
    width: 130rem;
    left: 120rem;
    bottom: -28rem;
    @media (width < 770px) {
      width: 60rem;
      left: 8;
      bottom: -16rem;
    }
  }
  &:nth-child(4) a > img {
    width: 100rem;
    right: 32rem;
    top: -40rem;

    @media (width < 770px) {
      width: 40rem;
      right: 8;
      bottom: -16rem;
      top: unset;
    }
  }
}
.s-life li figure {
  position: relative;
  border-radius: 20rem;
  overflow: hidden;
}
.s-life li figcaption {
  width: 250rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20rem;
  line-height: 110%;
  font-family: "m";
  font-weight: 200;
  text-align: center;
  color: var(--c-y);
  @media (width < 770px) {
    font-size: 14rem;
    width: 100%;
  }
}

.s-anat {
  /* margin-top: 120rem; */
  margin-top: 160rem;
  @media (width < 770px) {
    margin-top: 80rem;
  }
}
.s-anat h2 {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 128rem;
  line-height: 100%;
  font-weight: 800;
  & .y_:not(:first-of-type) {
    margin-top: -26rem;
    @media (width < 770px) {
      margin-top: -5rem;
    }
  }
  @media (width < 770px) {
    width: unset;
    font-size: 50rem;
    line-height: 100%;
  }
}
.anat {
  position: relative;
}

.vid-w {
  margin-top: -120rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width < 770px) {
    margin-top: 0;
    padding-top: var(--h-h);
  }
}

.s-anat video {
  width: unset;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  @media (width < 770px) {
    width: 100%;
  }
}

.s-usp {
  margin-top: 40rem;
  /* display: none; */
  @media (width < 770px) {
    margin-top: 0;
    padding-inline: var(--p-i);
  }
}
.s-usp ul {
  display: flex;
  gap: 120rem;
  align-items: center;
  justify-content: center;
  @media (width < 770px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16rem;
    /* gap: 10rem;
    flex-wrap: wrap; */
  }
}
.s-usp li {
  &:nth-of-type(1) img {
    width: 120rem;
    @media (width < 770px) {
      width: 100rem;
    }
  }
  &:nth-of-type(2) img {
    width: 148rem;
    @media (width < 770px) {
      width: 124rem;
    }
  }
  &:nth-of-type(3) img {
    width: 166rem;
    @media (width < 770px) {
      width: 130rem;
    }
  }
  &:nth-of-type(4) img {
    width: 111rem;
    @media (width < 770px) {
      width: 92rem;
    }
  }
  @media (width < 770px) {
    background-color: var(--c-y);
    border-radius: 20rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.s-ban {
  margin-top: 120rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: 40rem;
  }
}
.s-ban figure {
  border-radius: 40rem;
  aspect-ratio: 5/2;
  overflow: hidden;
  @media (width<770px) {
    border-radius: 20;
    aspect-ratio: 4/3;
  }
}
.s-ban img {
  height: 100%;
}
