#_ {
  opacity: 1 !important;
  visibility: visible !important;
}
body {
  background-color: var(--c-yellow);
}
#h {
  background-color: transparent;
}
.p {
  min-height: 100vh;
  padding-top: var(--h-h);
  padding-bottom: 80rem;
  padding-inline: var(--p-i);
}
