#_ {
  opacity: 1 !important;
  visibility: visible !important;
}
body {
  background-color: var(--c-y);
}
#h {
  background-color: transparent;
}
.p {
  min-height: calc(100vh - 400rem);
  padding-top: var(--h-h);
  padding-bottom: 80rem;
  padding-inline: var(--p-i);
}
.p h1 {
  padding-top: 80rem;
  font-size: 200rem;
  line-height: 100%;
  letter-spacing: -0.05em;
  & span {
    display: block;
    margin-top: -40rem;
    margin-left: 485rem;
  }
}
.p ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p ul div {
  flex: 2;
}
.p li {
  flex: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p li h3{

}
