body {
  background-color: #00628f;
}

#h {
  background-color: transparent;
}
#p {
  padding-top: var(--h-h);
  padding-bottom: 80rem;
  padding-inline: var(--p-i);
}
.s-he {
  padding-top: 80rem;
  @media (width < 770px) {
    padding-top: 64rem;
  }
}
.title {
  font-size: 128rem;
  line-height: 100%;
  color: #b4d9f3;
  @media (width < 770px) {
    font-size: 40rem;
  }
  /* width: fit-content; */
}
.title div:last-child {
  /* margin-top: 40rem; */
  margin-left: 520rem;
  @media (width < 770px) {
    width: fit-content;
    margin-top: 12rem;
    margin-left: auto;
  }
}
.title span {
  display: block;
}
.title span:last-child {
  margin-top: -22rem;
  @media (width < 770px) {
    margin-top: -4rem;
  }
}
.s-he figure {
  margin-top: 80rem;
  border-radius: 48rem;
  overflow: hidden;
  aspect-ratio: 5/2;
  @media (width<770px) {
    margin-top: 40rem;
    border-radius: none;
    aspect-ratio: 4/3;
  }
}

.s-war {
  margin-top: 80rem;
  display: flex;
  justify-content: space-between;
  @media (width < 770px) {
    margin-top: 40rem;
    flex-direction: column;
  }
}
.s-war p {
  width: 650rem;
  font-size: 40rem;
  line-height: 110%;
  font-family: "m";
  font-weight: 150;
  color: #b4d9f3;
  @media (width < 770px) {
    width: 100%;
    font-size: 26rem;
  }
}
.s-war form {
  width: 550rem;
  @media (width < 770px) {
    width: 100%;
    margin-top: 40rem;
  }
}
.s-war fieldset {
  display: block;
  margin-top: 40rem;
  &:first-of-type {
    margin-top: 0;
  }
  @media (width < 770px) {
    margin-top: 32rem;
  }
}
.s-war input::placeholder {
  font-size: 16rem;
  color: #b4d9f3;
  @media (width < 770px) {
    font-size: 14rem;
  }
}
.s-war input {
  width: 100%;
  padding-bottom: 8rem;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16rem;
  @media (width < 770px) {
    font-size: 14rem;
  }
}
.s-war button {
  margin-top: 48rem;
  padding: 14rem 48rem;
  background-color: #b4d9f3;
  color: #00628f;
  font-size: 14rem;
  cursor: pointer;
  border-radius: 12rem;
  font-family: "m";
  font-weight: 200;
  @media (width < 770px) {
    margin-top: 40rem;
    padding: 12rem 24rem;
    font-size: 12rem;
    border-radius: 10rem;
  }
}
