/* #_ {
  opacity: 1 !important;
  visibility: visible !important;
} */
#h {
  background-color: white;
}
.p {
  padding-top: var(--h-h);
  padding-inline: var(--p-i);
  padding-bottom: 80rem;
}
.s-he {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80rem;
  @media (width < 770px) {
    flex-direction: column;
  }
}

.s-he h1 {
  font-size: 140rem;
  line-height: 1;
  & span {
    display: block;
    margin-left: 260rem;
    margin-top: -30rem;
  }
  @media (width < 770px) {
    font-size: 65rem;
    & span {
      margin-left: 130rem;
      margin-top: -15rem;
    }
  }
}
.s-he figure {
  width: 500rem;
  @media (width < 770px) {
    width: 100%;
  }
}
.s-col {
  margin-top: 80rem;

  @media (width < 770px) {
    margin-top: 48rem;
  }
}
.s-col h2 {
  font-family: "m";
  font-size: 50rem;
  font-weight: 300;
  color: var(--c-y);
  /* text-align: center; */
  & span {
    font-weight: 200;
  }
  @media (width < 770px) {
    font-size: 35rem;
    text-align: center;
    color: black;
  }
}
.s-col ul {
  margin-top: 48rem;
  display: flex;
  gap: 24rem;
  @media (width < 770px) {
    margin-top: 40rem;
    flex-direction: column;
  }
}
.s-col li {
  width: calc((100% - 24rem * 2) / 3);
  @media (width < 770px) {
    width: 100%;
  }
}

.s-ban {
  margin-top: 80rem;
}
.s-ban figure {
  aspect-ratio: 10/4;
}
