#h {
  background-color: var(--c-y);
}
body {
  background-color: var(--c-y);
}
.p p {
  font-size: 24rem;
  line-height: 32rem;
}
.p .ban {
  border-radius: 40rem;
  aspect-ratio: 5/2;
  background-color: #ededed;
  overflow: hidden;
}
.sab0 {
  padding-inline: var(--p-i);
}
.sab0 p:first-of-type {
  width: 1235rem;
  margin-block: 88rem 64rem;
}
.sab0 p:last-of-type {
  width: 970rem;
  text-align: right;
  margin-top: 64rem;
  margin-left: auto;
}
.sab0 ul {
  margin-top: 56rem;
  display: flex;
  gap: 24rem;
  margin-inline: calc(var(--p-i) * -1);
}
.sab1 {
  margin-top: 100rem;
  padding-inline: var(--p-i);
}
.sab1 h2 {
  font-size: 64rem;
  line-height: 68rem;
  font-family: "m";
  font-weight: 150;
  & span {
    font-weight: 250;
  }
}
.sab1 p {
  margin-top: 64rem;
}
.sab1 figure {
  margin-top: 64rem;
}
.sab1 h2:nth-of-type(2) {
  margin-top: 40rem;
}
.sab1 p:last-of-type {
  margin-top: 50rem;
}
.sab1 h2:last-of-type {
  margin-top: 120rem;
  width: 750rem;
}
.sab2 {
  margin-top: 200rem;
}

