/* PRODUCT GALLERY */
.product_gallery {
  width: 100%;
  display: flex;
  @media (width > 1000px) {
    flex: 6;
    flex-direction: column;
    padding-inline: 62rem;
  }
}
.product_fig {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  @media (width> 1000px) {
    /* padding-inline: 62rem; */
    /* width: 50%; */
  }
}