.products-slider {
  width: 100%;
  display: flex;
  gap: 24rem;
}
.products-slider li {
  flex-shrink: 0;
  flex-basis: calc((100% - 24rem * 2) / 3);
  @media (width < 770px) {
    flex-basis: 70%;
  }
}
